!!!
%html{lang: "ja"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
    %link{ type: "text/css", rel: "stylesheet", href: "/css/index.css" }
    %link{ rel: "shortcut icon", href: "assets/favicon.jpg" }
    %link{ rel: "apple-touch-icon", href: "assets/favicon.jpg" }
    %script{ src: "/js/jquery-3.3.1.min.js" }
    %script{ src: "/js/index.js" }
    %title=title
  %body
    %center
      %h1
        %div.title 
          体験したいコンテンツのボタンを選択してください
      %table
        %tr
          - @large_contents.each do |c|
            %td{ rowspan: 2}
              %div.large_margin
                %span{ id: c[:id], class: 'large_icon unselected', onclick: "click_icon(\'#{c[:id]}\');" }
                  %img{height: "150", src: "assets/favicon.jpg", width: "150"}
                  %br
                  %b
                    #{c[:name]}
                  %br
                  あああああああああああああああああああああああああああああああああああああああああ
          -i = 0
          - @small_contents.each do |c|
            -if i > 0
              %tr
                %td
                  %div.small_margin
                    %span{ id: c[:id], class: 'small_icon unselected', onclick: "click_icon(\'#{c[:id]}\');" }
                      %b
                        #{c[:name]}
                      %br
                      %img{height: "100", src: "assets/favicon.jpg", width: "100"}
            -else
              %td
                %div.small_margin
                  %span{ id: c[:id], class: 'small_icon unselected', onclick: "click_icon(\'#{c[:id]}\');" }
                    %b
                      #{c[:name]}
                    %br
                    %img{height: "100", src: "assets/favicon.jpg", width: "100"}
                    -i = i+1
      %table
        %h1
          %span{ id: 'info', class: 'circle_icon unselected' }
            i